In [6]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv('appstore_games.csv')
df.head()

,URL,ID,Name,Subtitle,Icon URL,Average User Rating,User Rating Count,Price,In-app Purchases,Description,Developer,Age Rating,Languages,Size,Primary Genre,Genres,Original Release Date,Current Version Release Date
0,https://apps.apple.com/us/app/sudoku/id284921427,284921427,Sudoku,NaN,https://is2-ssl.mzstatic.com/image/thumb/Purpl...,4.0,3553.0,2.99,NaN,"Join over 21,000,000 of our fans and download ...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",15853568.0,Games,"Games, Strategy, Puzzle",11/07/2008,30/05/2017
1,https://apps.apple.com/us/app/reversi/id284926400,284926400,Reversi,NaN,https://is4-ssl.mzstatic.com/image/thumb/Purpl...,3.5,284.0,1.99,NaN,"The classic game of Reversi, also known as Oth...",Kiss The Machine,4+,EN,12328960.0,Games,"Games, Strategy, Board",11/07/2008,17/05/2018
2,https://apps.apple.com/us/app/morocco/id284946595,284946595,Morocco,NaN,https://is5-ssl.mzstatic.com/image/thumb/Purpl...,3.0,8376.0,0.00,NaN,Play the classic strategy game Othello (also k...,Bayou Games,4+,EN,674816.0,Games,"Games, Board, Strategy",11/07/2008,5/09/2017
3,https://apps.apple.com/us/app/sudoku-free/id28...,285755462,Sudoku (Free),NaN,https://is3-ssl.mzstatic.com/image/thumb/Purpl...,3.5,190394.0,0.00,NaN,"Top 100 free app for over a year.\nRated ""Best...",Mighty Mighty Good Games,4+,"DA, NL, EN, FI, FR, DE, IT, JA, KO, NB, PL, PT...",21552128.0,Games,"Games, Strategy, Puzzle",23/07/2008,30/05/2017
4,https://apps.apple.com/us/app/senet-deluxe/id2...,285831220,Senet Deluxe,NaN,https://is1-ssl.mzstatic.com/image/thumb/Purpl...,3.5,28.0,2.99,NaN,"""Senet Deluxe - The Ancient Game of Life and A...",RoGame Software,4+,"DA, NL, EN, FR, DE, EL, IT, JA, KO, NO, PT, RU...",34689024.0,Games,"Games, Strategy, Board, Education",18/07/2008,22/07/2018

In [8]:
df.drop(['URL', 'ID', 'Subtitle', 'Icon URL', 'Description', 'Languages', 'Primary Genre', 'Current Version Release Date'], axis=1, inplace=True)
df.head()

,Name,Average User Rating,User Rating Count,Price,In-app Purchases,Developer,Age Rating,Size,Genres,Original Release Date
0,Sudoku,4.0,3553.0,2.99,NaN,Mighty Mighty Good Games,4+,15853568.0,"Games, Strategy, Puzzle",11/07/2008
1,Reversi,3.5,284.0,1.99,NaN,Kiss The Machine,4+,12328960.0,"Games, Strategy, Board",11/07/2008
2,Morocco,3.0,8376.0,0.00,NaN,Bayou Games,4+,674816.0,"Games, Board, Strategy",11/07/2008
3,Sudoku (Free),3.5,190394.0,0.00,NaN,Mighty Mighty Good Games,4+,21552128.0,"Games, Strategy, Puzzle",23/07/2008
4,Senet Deluxe,3.5,28.0,2.99,NaN,RoGame Software,4+,34689024.0,"Games, Strategy, Board, Education",18/07/2008

In [4]:
df['Original Release Date'].value_counts()

2/09/2016     75
22/04/2018    59
1/08/2019     50
31/07/2019    42
28/07/2018    41
              ..
13/03/2018     1
15/07/2019     1
26/02/2019     1
17/09/2009     1
14/02/2016     1
Name: Original Release Date, Length: 3084, dtype: int64

In [5]:
df.isnull().sum()

Name                        0
Average User Rating      9446
User Rating Count        9446
Price                      24
In-app Purchases         9324
Developer                   0
Age Rating                  0
Languages                  60
Size                        1
Genres                      0
Original Release Date       0
dtype: int64

In [11]:
rating_freq = df['Average User Rating'].value_counts()
rating_freq

4.5    2861
4.0    1722
5.0     990
3.5     925
3.0     514
2.5     317
2.0     158
1.5      60
1.0      14
Name: Average User Rating, dtype: int64

In [4]:
df['Price'].value_counts()

0.00      14212
0.99       1078
1.99        515
2.99        471
4.99        237
3.99        163
9.99         88
11.99        59
5.99         42
6.99         32
179.99       30
7.99         17
8.99         13
19.99         9
14.99         4
12.99         3
16.99         2
29.99         2
99.99         1
36.99         1
59.99         1
139.99        1
37.99         1
18.99         1
Name: Price, dtype: int64

In [5]:
df['In-app Purchases'].value_counts()

0.99                                                               943
2.99                                                               608
1.99                                                               560
4.99                                                               154
0.99, 0.99                                                         140
                                                                  ...
0.99, 3.99, 7.99, 11.99, 23.99, 38.99                                1
4.99, 9.99, 19.99, 49.99, 99.99, 4.99, 9.99, 19.99, 49.99, 4.99      1
1.99, 0.99, 2.99, 1.99, 4.99, 5.99, 6.99, 1.99, 9.99, 5.99           1
5.99, 1.99, 11.99, 15.99, 19.99, 0.99, 45.99, 99.99                  1
1.99, 4.99, 0.99, 1.99                                               1
Name: In-app Purchases, Length: 3803, dtype: int64

In [7]:
df.dtypes

Name                    object
Average User Rating    float64
User Rating Count      float64
Price                  float64
In-app Purchases        object
Developer               object
Age Rating              object
Languages               object
Size                   float64
Genres                  object
dtype: object

In [9]:
df.to_csv('small_appstore_games.csv', index=False)